* {
    margin: 0 24px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    background-color: #E0E0FF;
}

h1 {
    text-align: center;
    margin: 1em;
}

h2 {
    text-align: center;
    margin: 1em;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    width: 50%
}

p {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.ingredients {
    margin-right: 10%;
    margin-left: 10%;
}

.instructions {
    margin-right: 10%;
    margin-left: 10%;
}

.home-button {
    text-align: center;
    display: block;
    padding: 8px;
}

button {
    background: #FFFFE0;
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 10px 40px;
    width: 50%;
}